<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="">产品管理</a></li>
        <li class="active">产品列表</li>
    </ul>

    <div class="page-header page-header1 clearfix">
        <h3>产品管理</h3>
        <ul class="nav nav-tabs">    
            <li class="active">
                <a href="{:U('Project/selectProject')}">产品列表</a>
            </li>
            <li>
                <a href="{:U('Project/addProject')}">添加产品</a>
            </li>
        </ul>
    </div>
    <div class="search-content">
        <form action="{:U('Project/selectProject')}" method="post"class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="p_name">产品名称</label>
                <input class="earch-input form-control" id="p_name" type="text" name="p_name" value="{$request['p_name']}" placeholder="产品名称"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>　
        </form>
    </div>
    <include file="Public:notification"/>
    <div class="content-box-table">
        <form action="{:U('Member/deleteMember')}" method="post" class="batch-form">
            <table class="table table-striped table-framed table-hover">
                <thead>
                    <tr>
                        <th width="4%">
                            <input class="check-all" type="checkbox" />
                        </th>
                        <th width="10%">产品名称</th>
                        <th width="10%">产品分类</th>
                        <th width="20%">简述</th>
                        <th width="10%">排序</th>
                        <th width="10%">是否显示</th>
                        <th width="10%">添加时间</th>
                        <th width="10%">操作</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <if condition="empty($project_list)">
                        <tr><td colspan="20"><span style="font-size:14px;">暂无数据</span></td></tr>
                    </if>
                    <volist name="project_list" id="mem">
                        <tr>
                            <td><input type="checkbox" value="{$mem['p_id']}" name="p_id[]"/></td>
                            <td>{$mem['p_name']}</td>
                            <td>{$mem['p_type']}</td>
                            <td>{$mem['p_info']}</td>
                            <td>
                                <input type="text" value="{$mem['sort_order']}" class="sort_order only-num" title="点击填写，再点击其他地方自动修改">
                                <input type="hidden" value="{$mem['p_id']}">
                            </td>
                            <td>
                                <span class="icon glyphicon glyphicon-ok is-show-operate txt-grren" title="显示" <if condition="$mem['is_show'] eq 0">style="display:none;"</if>></span>
                                <input type="hidden" value="{:U('Project/isShowOperate')}||{$mem['p_id']}||1">
                                <span class="icon glyphicon glyphicon-remove is-show-operate txt-red" title="不显示" <if condition="$mem['is_show'] eq 1">style="display:none;"</if>></span>
                                <input type="hidden" value="{:U('Project/isShowOperate')}||{$mem['p_id']}||0">
                            </td>
                            <td>{$mem['ctime']|date='Y-m-d',###}</td>
                            <td>
                                <a href="{:U('Project/saveProject',array('p_id'=>$mem['p_id']))}" title="编辑" class="modify">
                                   <span class="icon glyphicon glyphicon-pencil"></span>
                                </a>&nbsp;
                                <a href="#" title="删除" class="delete-delete">
                                    <span class="icon glyphicon glyphicon-remove"></span>
                                </a><input type="hidden" value="{:U('Project/deleteProject',array('p_id'=>$mem['p_id']))}">
                            </td>
                        </tr>
                    </volist>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="20">
                            <div class="fr">
                                {$page}
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">导出数据字段选择</h4>
      </div>
      <div class="modal-body">
        <form action="{:U('Member/exportExcel')}" method="post">
        <!-- 选择字段 -->
        <div style="line-height: 30px;">
            <input type="checkbox" value="注册时间||ctime" name="fields_data[]" checked/>&nbsp;注册时间　
            <input type="checkbox" value="昵称||m_nickname" name="fields_data[]" checked/>&nbsp;昵称　
            <input type="checkbox" value="邮箱||m_email" name="fields_data[]" checked/>&nbsp;邮箱　
            <input type="checkbox" value="电话||m_mobile" name="fields_data[]" checked/>&nbsp;电话　
            <input type="checkbox" value="微信||m_wchart" name="fields_data[]" checked/>&nbsp;微信　
            <input type="checkbox" value="性别||m_sex" name="fields_data[]" checked/>&nbsp;性别　
            <input type="checkbox" value="积分||m_score" name="fields_data[]" checked/>&nbsp;积分　
            <input type="checkbox" value="点击量||m_click" name="fields_data[]" checked/>&nbsp;点击量　
        </div>
        <div style="margin-top:20px;">
            <input type="submit" class="btn derive" value="确认导出" onclick="face_hide()">　
            <span class='prompt'>(导出数据为当前筛选条件下的所有数据)</span>
        </div>
        <!-- 筛选条件 -->
        <div style="display: none">
            <input type="text" name="m_id" value="{$request['m_id']}"/>　
            <input type="text" name="m_nickname" value="{$request['m_nickname']}"/>　
            <select name="m_sex">
                <option value=""></option>
                <option value="1" <if condition="$request['m_sex'] eq 1">selected=true</if>></option>
                <option value="2" <if condition="$request['m_sex'] eq 2">selected=true</if>></option>
            </select>　
            <select name="sort_order">
                <option value=""></option>
                <option value="m_score:asc" <if condition="$request['sort_order'] eq 'm_score:asc'">selected=true</if>></option>
                <option value="m_score:desc" <if condition="$request['sort_order'] eq 'm_score:desc'">selected=true</if>></option>
            </select>
        </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="face_hide()" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end-->
<script type="text/javascript">
    $(document).ready(function(){

        //修改排序
        $('.sort_order').blur(function(){
            var id = $(this).next('input').val();
            var sort = $(this).val();
            ajaxEditSort('{:U("Project/editSort")}',id,sort);
        });

        //排序修改
        $("select[name='sort_order']").change(function(){
            $('.search-form').submit();
        });
        //批量修改积分
        $('.edit-score-batch').click(function(){
            $('.batch-form').attr('action','{:U("Member/editScoreBatch")}');
            $('.batch-form').submit();
        });
    });
</script>
<include file="Public:footer"/>
