<!DOCTYPE html>
<html lang="en">
	<include file="Common:header"/>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/docs.css">

	<link rel="stylesheet" href="__PUBLIC__/Home/css/codemirror.css">
	<script src="__PUBLIC__/Home/js/codemirror.js"></script>
	<script src="__PUBLIC__/Home/js/markdown.js"></script>
	<script src="__PUBLIC__/Home/js/xml.js"></script>
  <style type="text/css">
  	.btn{
  		width: 36px;
  		height: 36px;
  		padding: 0px 0px 0px 0px;
  		text-align: center;
  		line-height: 36px;
  	}
  	.btn .fa{
  		margin-right: 0px;
  	}
  </style>
	<include file="Common:left"/>

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">
	<div class="btn-toolbar" role="toolbar">
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="返回概要"><i class="fa fa-chevron-left"></i></button>
	  </div>
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self savecontent" data-toggle="tooltip" data-placement="bottom" title="保存"><i class="fa fa-save"></i></button>
	  </div>
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="撤销"><i class="fa fa-rotate-left"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="重做"><i class="fa fa-rotate-right"></i></button>
	  </div>
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="标题1">H1</button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="标题2">H2</button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="标题3">H3</button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="标题4">H4</button>
	  </div>
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="加粗"><i class="fa fa-bold"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="斜体"><i class="fa fa-italic"></i></button>
	  </div>
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="无序列表"><i class="fa fa-list-ul"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="有序列表"><i class="fa fa-list-ol"></i></button>
	  </div>
	  <div class="btn-group">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="链接"><i class="fa fa-link"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="图片"><i class="fa fa-image"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="代码"><i class="fa fa-code"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="分割线"><i class="fa fa-minus"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="引用"><i class="fa fa-quote-right"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="表格"><i class="fa fa-table"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="粘贴HTML"><i class="fa fa-h-square"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="章节导航"><i class="fa fa-th-list"></i></button>
	  </div>

	  <div class="btn-group fr">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="边栏"><i class="fa fa-reorder"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="预览"><i class="fa fa-toggle-right"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="历史记录"><i class="fa fa-reply-all"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="全文预览"><i class="fa fa-file-powerpoint-o"></i></button>
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="帮助"><i class="fa fa-user"></i></button>
	  	<button type="button" class="btn btn-self"><i class="fa fa-sort-desc"></i></button>

	  </div>
	  <div class="btn-group fr">
	  	<button type="button" class="btn btn-self" data-toggle="tooltip" data-placement="bottom" title="发布文章"><i class="fa fa-cloud"></i></button>
	  </div>
	</div>

	<div class="editcontent row">
		<div class="col-md-2">
			<div class="ih34 pad0-10 navtitle">
				<i class="fa fa-list-ul"></i>
				<span>目录</span>
				<span class="fr" data-toggle="tooltip" data-placement="right" title="新建目录"><i class="fa fa-plus"></i></span>
			</div>
			<div class="listcon">
				<if condition="!empty($dirlist)">
					<ul class="mllist">
						<volist name="dirlist" id="dirobj" key="index">
							<li id="{$dirobj['id']}" p_id="{$dirobj['parent_id']}" <if condition="$index eq 1">class="active"</if>>
								<if condition="$dirobj['has_child'] neq 1">
									<i class="fa fa-caret-right"></i>
								</if>
								<div>
								{$dirobj.node_name}
								</div>
							</li>
						</volist>
					</ul>
				</if>
			</div>
		</div>
		<div class="col-md-5">
			<div class="textarea" id="textarea"></div>
		</div>
		<div class="col-md-5 viewpren">
			<div class="viewcontent">{$dirlist[0]['html_content']}</div>
		</div>
	</div>
	<div class="ih34 playmodel">
		<div class="playadd"><i class="fa fa-plus"></i>新建章节</div>
		<div class="playedi"><i class="fa fa-edit"></i>编辑</div>
		<div class="playdel"><i class="fa fa-trash"></i>删除</div>
	</div>
<!-- Start Footer -->
 <include file="Common:footer"/>
<!-- End Footer -->

</div>
	<!-- End Content -->
	<div class="dis-n addDirectory">
		<div class="title text-center f-size-20 ih50">创建目录</div>
		<div class="padding-20 xq_form">
			<div class="form-group">
				<input type="text" class="form-control" id="node_name" placeholder="请填写目录名称"/>
			</div>
		</div>
		<div class="box-cen padding-20">
			<div class="btn-lg btn-default save-btn">保存</div>
		</div>
	</div>

	<div class="dis-n editDir">
		<div class="title text-center f-size-20 ih50">修改目录</div>
		<div class="padding-20 xq_form">
			<div class="form-group">
				<input type="text" class="form-control" id="edit_node_name" placeholder="请填写目录名称"/>
			</div>
		</div>
		<div class="box-cen padding-20">
			<div class="btn-lg btn-default edit-btn">保存</div>
		</div>
	</div>

	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
	 <!-- //////////////////////////////////////////////////////////////////////////// --> 
	<script src="__PUBLIC__/Home/js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/plugins.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/self.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/layer/layer.js"></script>
Sweet Alert
================================================ -->
<script src="__PUBLIC__/Home/js/sweet-alert/sweet-alert.min.js"></script>

<!-- ================================================
Kode Alert
================================================ -->
<script src="__PUBLIC__/Home/js/kode-alert/main.js"></script>
	<script>
		var code = document.getElementById("textarea");
		var editor = CodeMirror(code, {
		  mode: "markdown",
		  lineNumbers: true,
		  value:<?php echo json_encode($dirlist[0]['md_content']) ?>,
		  theme: "default"
		});
		$(function(){
			$(".loading").hide();
		});
		var prev ="";
		editor.on('change',function(){
			var curvalue =  editor.getValue();
			if ( prev == curvalue ) {
				return;
			}else if ( $.trim(curvalue) == "" ){
				$(".viewcontent").html("");
				return;
			}else{
				prev = curvalue;
			}
			$.ajax({
				"url" : "{:U('Index/mkToHTML')}",
				"data" : {"mkToHTML" : prev},
				"type" : "post",
				"dataType" : "json",
				"success" : function(res){
					res = JSON.parse(res);
					if (res.flag == "success") {
						var stre = res.data;
						var str = stre.replace(/([;|{|}]{1,}\n)/g,"$1<br/>");
						$(".viewcontent").html(str);
					}else{
						layer.msg(res.message);
					}
				}
			});
		});

		//同步滑动
		$(".textarea .CodeMirror-scroll").on('scroll',function(e){
			var viewhe = $(".editcontent").height();
			var scrollTop = $(this).scrollTop();
			var height = $(this).find(".CodeMirror-sizer").innerHeight();
			var viewHeight = $(".viewcontent").innerHeight();
			var bili = scrollTop/(height-viewhe);
			var scrolltop = viewHeight-viewhe+20;
			console.log(scrolltop +"----"+ bili);
			$(".viewpren").scrollTop( bili * scrolltop );
		});


		function liclick(e){
			var self = $(this);
			if (!self.hasClass("active")) {
				var id = self.attr("id");
				$.ajax({
					"url" : "{:U('Index/getContent')}",
					"type" : "post",
					"dataType" : "json",
					"data" : {id},
					"success" : function( res ){
						if (res.flag == "success") {
							var curobj = res.data;
							console.log(curobj);
							editor.setValue(curobj.md_content);
							$(".viewcontent").html(curobj.html_content);
						}else{
							layer.msg(res.message);
						}
					}
				});
				$(".mllist li.active").removeClass('active');
				self.addClass("active");
				e.stopPropagation();
			}
		}
		//  回去该目录内容

		function getContent(){

		}

		$(".mllist li").on('click', liclick);

		// 将目录创建到指定容器内

		function putNode(data,ele) {
			var ul = $("<ul/>",{class:"mllist"});
			for(var curobj of data){
				var has_child = curobj['has_child'];
				var i ="";
				if (has_child != 0) {
					i = $("<i/>",{class:"fa fa-caret-right"}).on('click',findNode);
				}
				var li = $("<li/>").attr({"id":curobj.id,"p_id":curobj.parent_id}).append(i).append($("<div/>").append(curobj.node_name)).on('click',liclick);
				li.find('div').eq(0).on('contextmenu', stopContentMenu);
				ul.append(li);
			}
			ul.appendTo(ele);
		}

		// 响应加载子集菜单事件

		function findNode(e) {
			e.stopPropagation();
			var self = $(this).parent();
			var parent_id = self.attr("id");
			if (self.hasClass('isopen')) {
				self.find(".fa-caret-down").eq(0).removeClass("fa-caret-down").addClass("fa-caret-right");			
				self.find("ul").remove();
				self.removeClass('isopen');
				return;
			}			
			$.ajax({
				"url" : "{:U('Index/findNode')}",
				"type" : "post",
				"data" :{parent_id},
				"dataType" : "json",
				"success" : function(res){
					if (res.flag == "success") {
						putNode(res.data,self);
						self.addClass('isopen');
						self.find(".fa-caret-right").eq(0).removeClass("fa-caret-right").addClass("fa-caret-down");			
					}else{
						layer.msg(res.message);
					}
				}
			});
		}

		var curele; //当前右键的节点
		// 禁止浏览器右键行为 
		function stopContentMenu(e){
			var event = e || window.event;
			curele = $(this).parent();
			$(".playmodel").css({"left":event.clientX,"top":event.clientY}).show();
			event.stopPropagation();
			return false;
		}


		$(".fa-caret-right").on('click',findNode);
		$(document).on('click',function(e){
			var event = e || window.event;
			if (event.button != 2) {
				$(".playmodel").hide();
			}
		});

		$(".mllist li > div").on('contextmenu',stopContentMenu);

		$(".playmodel .playadd").on('click',function() {
			layer.open({
				type:1,
				title:false,
				area:['300px','auto'],
				content:$(".addDirectory")
			});
		});

		$(".playmodel .playedi").on('click',function() {
			$("#edit_node_name").val(curele.find("div").eq(0).text().trim());
			layer.open({
				type:1,
				title:false,
				area:['300px','auto'],
				content:$(".editDir")
			});
		});

		$(".playmodel .playdel").on('click',function(){
			swal({
		        title: "请确认?",
		        text: "您确认要删除!",
		        type: "warning",
		        showCancelButton: true,
		        confirmButtonColor: "#DD6B55",
		        confirmButtonText: "确认",
		        cancelButtonText: "取消",
		        closeOnConfirm: false
		      },delDir);
		});

		//删除指定目录

		function delDir(){
			var id = curele.attr("id");
			var parent_id = curele.attr("p_id");
			$.ajax({
				"url" : "{:U('Index/delDir')}",
				"data" : {id,parent_id},
				"type" : "post",
				"dataType" : "json",
				"success" : function( res ){
					if (res.flag == "success") {
						if (curele.siblings().size() == 0) {
				      		curele.parent().siblings("i.fa").remove();
				      		curele.parent().remove();
				      	}else{
				      		curele.remove();
				      	}
				      	swal("已删除!", "恭喜您删除成功.", "success");	
					}else{
						layer.msg(res.message);
					}
				}
			});
		}


		$(".edit-btn").on('click',function(event) {
			var node_name = $("#edit_node_name").val();
			var id = curele.attr("id");
			$.ajax({
				"url" : "{:U('Index/editDir')}",
				"data" : {node_name,id},
				"type" : "post",
				"dataType" : "json",
				"success" : function(res){
					if (res.flag == "success") {
						curele.find("div").eq(0).text(node_name);
						swal("已修改!", "恭喜您修改成功！", "success");	
					}else{
						layer.msg(res.message);
					}
					layer.closeAll();
				}
			});
		});

		$(".save-btn").on('click',function(){
			var node_name = $("#node_name").val();
			var atical_id = 1;
			var parent_id = curele.attr("id");
			$.ajax({
				"url" : "{:U('Index/addDirectory')}",
				"data" : {node_name,atical_id,parent_id},
				"type" : "post",
				"dataType" : "json",
				"success" : function(res){
					if (res.flag == "success") {
						mkdir(node_name,res.data,parent_id);
						swal("已创建!", "恭喜您创建成功.", "success");						
					}else{
						layer.msg(res.message);
					}
					layer.closeAll();
				}
			});
		});

		function mkdir( node_name,id,parent_id){
			var mllist = curele.find('.mllist').eq(0);
			console.log(mllist.text());
			if (mllist.length == 0) {
				var i = $("<i/>",{class:"fa fa-caret-down"}).on("click",findNode);
				curele.find('div').eq(0).prepend(i);
				mllist = $("<ul/>",{class:"mllist"}).appendTo(curele);
			}
			var li = $("<li/>").attr({"id":id,"p_id":parent_id}).html("<div>"+ node_name +"</div>").appendTo(mllist);
			li.on('click',liclick);
			li.find('div').eq(0).on('contextmenu', stopContentMenu);
		}

		//  删除目录
		$(".playmodel div.playdel").on('click',function( e ){

		});

		// 保存文档到数据库

		$(".savecontent").on('click',function(){
			var id = $("li.active").eq(0).attr("id");
			var md_content = editor.getValue();
			var html_content = $(".viewcontent").html();
			$.ajax({
				"url" : "{:U('Index/saveContent')}",
				"type" : "post",
				"dataType" : "json",
				"data" : {id,md_content,html_content},
				"success" : function( res ){
					if ( res.flag == "success") {
						layer.msg(res.message);
					}else{
						layer.msg(res.message);
					}
				}
			});
		});
	</script>
</body>
</html>