<!DOCTYPE html>
<html lang="en">
 <include file="Common:header"/>
<include file="Common:left"/>

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">Helper Classes</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li class="active">Helper Classes</li>
      </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">Dashboard</a>
        <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->

  <!-- Start Presentation -->
  <div class="row presentation">

    <div class="col-lg-8 col-md-6 titles">
      <span class="icon color13-bg"><i class="fa fa-code"></i></span>
      <h1>Helper Classes</h1>
      <h4>You don't need to create new css class for simple edits.<br> We already did it for you.</h4>
    </div>

    <div class="col-lg-4 col-md-6">
      <ul class="list-unstyled list">
        <li><i class="fa fa-check"></i>Easy to Use<li>
        <li><i class="fa fa-check"></i>Size Options<li>
        <li><i class="fa fa-check"></i>Text Options<li>
        <li><i class="fa fa-check"></i>Colors<li>
      </ul>
    </div>

  </div>
  <!-- End Presentation -->

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-padding">



  <!-- Start Row -->
  <div class="row">
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Padding
        </div>
        <p>All size: 0,5,10,15,20,25,30,35,40,45,50px</p>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.padding-5</code></td>
                    <td>
                      <div class="demolayout padding-5">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>padding: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.padding-l-5</code></td>
                    <td>
                      <div class="demolayout padding-l-5">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>padding-left: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.padding-r-5</code></td>
                    <td>
                      <div class="demolayout padding-r-5">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>padding-right: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.padding-t-5</code></td>
                    <td>
                      <div class="demolayout padding-t-5">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>padding-top: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.padding-b-5</code></td>
                    <td>
                      <div class="demolayout padding-b-5">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>padding-bottom: 5px</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Margin
        </div>
        <p>All size: 0,5,10,15,20,25,30,35,40,45,50px</p>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.margin-5</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox margin-5">Demo</div>
                      </div>
                    </td>
                    <td>margin: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.margin-l-5</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox margin-l-5">Demo</div>
                      </div>
                    </td>
                    <td>margin-left: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.margin-r-5</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox margin-r-5">Demo</div>
                      </div>
                    </td>
                    <td>margin-right: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.margin-t-5</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox margin-t-5">Demo</div>
                      </div>
                    </td>
                    <td>margin-top: 5px</td>
                  </tr>
                  <tr>
                    <td><code>.margin-b-5</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox margin-b-5">Demo</div>
                      </div>
                    </td>
                    <td>margin-bottom: 5px</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    

  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Float
        </div>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.float-l</code></td>
                    <td>
                      <div class="demolayout float-l">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>float: left</td>
                  </tr>
                  <tr>
                    <td><code>.float-r</code></td>
                    <td>
                      <div class="demolayout float-r">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>float: right</td>
                  </tr>
                  <tr>
                    <td><code>.float-n</code></td>
                    <td>
                      <div class="demolayout float-n">
                        <div class="demobox">Demo</div>
                      </div>
                    </td>
                    <td>float: none</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Text Align
        </div>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.text-r</code></td>
                    <td>
                        <div class="demotext text-right">Demo</div>
                    </td>
                    <td>text-align: right</td>
                  </tr>
                  <tr>
                    <td><code>.text-l</code></td>
                    <td>
                        <div class="demotext text-l">Demo</div>
                    </td>
                    <td>text-align: left</td>
                  </tr>
                  <tr>
                    <td><code>.text-c</code></td>
                    <td>
                        <div class="demotext text-c">Demo</div>
                    </td>
                    <td>text-align: center</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    

  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Border
        </div>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.border-b-none</code></td>
                    <td>
                        <div class="demoboxborder border-b-none">Demo</div>
                    </td>
                    <td>border-bottom: none</td>
                  </tr>
                  <tr>
                    <td><code>.border-t-none</code></td>
                    <td>
                        <div class="demoboxborder border-t-none">Demo</div>
                    </td>
                    <td>border-top: none</td>
                  </tr>
                  <tr>
                    <td><code>.border-l-none</code></td>
                    <td>
                        <div class="demoboxborder border-l-none">Demo</div>
                    </td>
                    <td>border-left: none</td>
                  </tr>
                  <tr>
                    <td><code>.border-r-none</code></td>
                    <td>
                        <div class="demoboxborder border-r-none">Demo</div>
                    </td>
                    <td>border-right: none</td>
                  </tr>
                  <tr>
                    <td><code>.border-none</code></td>
                    <td>
                        <div class="demoboxborder border-none">Demo</div>
                    </td>
                    <td>border: none</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Text Size and Styles
        </div>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.f-size-10</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox f-size-10">Demo</div>
                      </div>
                    </td>
                    <td>font-size: 10px<br><b>All size available 10 to 32</b></td>
                  </tr>
                  <tr>
                    <td><code>.f-size-16</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox f-size-16">Demo</div>
                      </div>
                    </td>
                    <td>font-size: 16px</td>
                  </tr>
                  <tr>
                    <td><code>.f-bold</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox f-bold">Demo</div>
                      </div>
                    </td>
                    <td>font-weight: bold</td>
                  </tr>
                  <tr>
                    <td><code>.f-italic</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox f-italic">Demo</div>
                      </div>
                    </td>
                    <td>font-style: italic</td>
                  </tr>
                  <tr>
                    <td><code>.f-underline</code></td>
                    <td>
                      <div class="demolayout">
                        <div class="demobox f-underline">Demo</div>
                      </div>
                    </td>
                    <td>text-decoration: underline</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    

  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">
    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Colors
        </div>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.color1</code></td>
                    <td>
                        <div class="democolors color1">Demo</div>
                    </td>
                    <td>color: @color1;</td>
                  </tr>
                  <tr>
                    <td><code>.color2</code></td>
                    <td>
                        <div class="democolors color2">Demo</div>
                    </td>
                    <td>color: @color2;</td>
                  </tr>
                  <tr>
                    <td><code>.color3</code></td>
                    <td>
                        <div class="democolors color3">Demo</div>
                    </td>
                    <td>color: @color3;</td>
                  </tr>
                  <tr>
                    <td><code>.color4</code></td>
                    <td>
                        <div class="democolors color4">Demo</div>
                    </td>
                    <td>color: @color4;</td>
                  </tr>
                  <tr>
                    <td><code>.color5</code></td>
                    <td>
                        <div class="democolors color5">Demo</div>
                    </td>
                    <td>color: @color5;</td>
                  </tr>
                  <tr>
                    <td><code>.color6</code></td>
                    <td>
                        <div class="democolors color6">Demo</div>
                    </td>
                    <td>color: @color6;</td>
                  </tr>
                  <tr>
                    <td><code>.color7</code></td>
                    <td>
                        <div class="democolors color7">Demo</div>
                    </td>
                    <td>color: @color7;</td>
                  </tr>
                  <tr>
                    <td><code>.color8</code></td>
                    <td>
                        <div class="democolors color8">Demo</div>
                    </td>
                    <td>color: @color8;</td>
                  </tr>
                  <tr>
                    <td><code>.color9</code></td>
                    <td>
                        <div class="democolors color9">Demo</div>
                    </td>
                    <td>color: @color9;</td>
                  </tr>
                  <tr>
                    <td><code>.color10</code></td>
                    <td>
                        <div class="democolors color10">Demo</div>
                    </td>
                    <td>color: @color10;</td>
                  </tr>
                  <tr>
                    <td><code>.color11</code></td>
                    <td>
                        <div class="democolors color11">Demo</div>
                    </td>
                    <td>color: @color11;</td>
                  </tr>
                  <tr>
                    <td><code>.color12</code></td>
                    <td>
                        <div class="democolors color12">Demo</div>
                    </td>
                    <td>color: @color12;</td>
                  </tr>
                  <tr>
                    <td><code>.color13</code></td>
                    <td>
                        <div class="democolors color13">Demo</div>
                    </td>
                    <td>color: @color13;</td>
                  </tr>
                  <tr>
                    <td><code>.color14</code></td>
                    <td>
                        <div class="democolors color14">Demo</div>
                    </td>
                    <td>color: @color14;</td>
                  </tr>
                  <tr>
                    <td><code>.color15</code></td>
                    <td>
                        <div class="democolors color15">Demo</div>
                    </td>
                    <td>color: @color15;</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    


    

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-title">
          Background Colors
        </div>

            <div class="panel-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Class</td>
                    <td>Preview</td>
                    <td>Description</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>.color1-bg</code></td>
                    <td>
                        <div class="democolors color1-bg"></div>
                    </td>
                    <td>background: @color1;</td>
                  </tr>
                  <tr>
                    <td><code>.color2-bg</code></td>
                    <td>
                        <div class="democolors color2-bg"></div>
                    </td>
                    <td>background: @color2;</td>
                  </tr>
                  <tr>
                    <td><code>.color3-bg</code></td>
                    <td>
                        <div class="democolors color3-bg"></div>
                    </td>
                    <td>background: @color3;</td>
                  </tr>
                  <tr>
                    <td><code>.color4-bg</code></td>
                    <td>
                        <div class="democolors color4-bg"></div>
                    </td>
                    <td>background: @color4;</td>
                  </tr>
                  <tr>
                    <td><code>.color5-bg</code></td>
                    <td>
                        <div class="democolors color5-bg"></div>
                    </td>
                    <td>background: @color5;</td>
                  </tr>
                  <tr>
                    <td><code>.color6-bg</code></td>
                    <td>
                        <div class="democolors color6-bg"></div>
                    </td>
                    <td>background: @color6;</td>
                  </tr>
                  <tr>
                    <td><code>.color7-bg</code></td>
                    <td>
                        <div class="democolors color7-bg"></div>
                    </td>
                    <td>background: @color7;</td>
                  </tr>
                  <tr>
                    <td><code>.color8-bg</code></td>
                    <td>
                        <div class="democolors color8-bg"></div>
                    </td>
                    <td>background: @color8;</td>
                  </tr>
                  <tr>
                    <td><code>.color9-bg</code></td>
                    <td>
                        <div class="democolors color9-bg"></div>
                    </td>
                    <td>background: @color9;</td>
                  </tr>
                  <tr>
                    <td><code>.color10-bg</code></td>
                    <td>
                        <div class="democolors color10-bg"></div>
                    </td>
                    <td>background: @color10;</td>
                  </tr>
                  <tr>
                    <td><code>.color11-bg</code></td>
                    <td>
                        <div class="democolors color11-bg"></div>
                    </td>
                    <td>background: @color11;</td>
                  </tr>
                  <tr>
                    <td><code>.color12-bg</code></td>
                    <td>
                        <div class="democolors color12-bg"></div>
                    </td>
                    <td>background: @color12;</td>
                  </tr>
                  <tr>
                    <td><code>.color13-bg</code></td>
                    <td>
                        <div class="democolors color13-bg"></div>
                    </td>
                    <td>background: @color13;</td>
                  </tr>
                  <tr>
                    <td><code>.color14-bg</code></td>
                    <td>
                        <div class="democolors color14-bg"></div>
                    </td>
                    <td>background: @color14;</td>
                  </tr>
                  <tr>
                    <td><code>.color15-bg</code></td>
                    <td>
                        <div class="democolors color15-bg"></div>
                    </td>
                    <td>background: @color15;</td>
                  </tr>
                </tbody>
              </table>
            </div>

      </div>
    </div>
    



  </div>
  <!-- End Row -->




</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- Start Footer -->
 <include file="Common:footer"/>
<!-- End Footer -->


</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEPANEL -->
<div role="tabpanel" class="sidepanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">TODAY</a></li>
    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">TASKS</a></li>
    <li role="presentation"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">CHAT</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Start Today -->
    <div role="tabpanel" class="tab-pane active" id="today">

      <div class="sidepanel-m-title">
        Today
        <span class="left-icon"><a href="#"><i class="fa fa-refresh"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-file-o"></i></a></span>
      </div>

      <div class="gn-title">NEW</div>

      <ul class="list-w-title">
        <li>
          <a href="#">
            <span class="label label-danger">ORDER</span>
            <span class="date">9 hours ago</span>
            <h4>New Jacket 2.0</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-success">COMMENT</span>
            <span class="date">14 hours ago</span>
            <h4>Bill Jackson</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-info">MEETING</span>
            <span class="date">at 2:30 PM</span>
            <h4>Developer Team</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-warning">EVENT</span>
            <span class="date">3 days left</span>
            <h4>Birthday Party</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
      </ul>

    </div>
    <!-- End Today -->

    <!-- Start Tasks -->
    <div role="tabpanel" class="tab-pane" id="tasks">

      <div class="sidepanel-m-title">
        To-do List
        <span class="left-icon"><a href="#"><i class="fa fa-pencil"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-trash"></i></a></span>
      </div>

      <div class="gn-title">TODAY</div>

      <ul class="todo-list">
        <li class="checkbox checkbox-primary">
          <input id="checkboxside1" type="checkbox"><label for="checkboxside1">Add new products</label>
        </li>
        
        <li class="checkbox checkbox-primary">
          <input id="checkboxside2" type="checkbox"><label for="checkboxside2"><b>May 12, 6:30 pm</b> Meeting with Team</label>
        </li>
        
        <li class="checkbox checkbox-warning">
          <input id="checkboxside3" type="checkbox"><label for="checkboxside3">Design Facebook page</label>
        </li>
        
        <li class="checkbox checkbox-info">
          <input id="checkboxside4" type="checkbox"><label for="checkboxside4">Send Invoice to customers</label>
        </li>
        
        <li class="checkbox checkbox-danger">
          <input id="checkboxside5" type="checkbox"><label for="checkboxside5">Meeting with developer team</label>
        </li>
      </ul>

      <div class="gn-title">TOMORROW</div>
      <ul class="todo-list">
        <li class="checkbox checkbox-warning">
          <input id="checkboxside6" type="checkbox"><label for="checkboxside6">Redesign our company blog</label>
        </li>
        
        <li class="checkbox checkbox-success">
          <input id="checkboxside7" type="checkbox"><label for="checkboxside7">Finish client work</label>
        </li>
        
        <li class="checkbox checkbox-info">
          <input id="checkboxside8" type="checkbox"><label for="checkboxside8">Call Johnny from Developer Team</label>
        </li>

      </ul>
    </div>    
    <!-- End Tasks -->

    <!-- Start Chat -->
    <div role="tabpanel" class="tab-pane" id="chat">

      <div class="sidepanel-m-title">
        Friend List
        <span class="left-icon"><a href="#"><i class="fa fa-pencil"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-trash"></i></a></span>
      </div>

      <div class="gn-title">ONLINE MEMBERS (3)</div>
      <ul class="group">
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg.png" alt="img"><b>Allice Mingham</b>Los Angeles</a><span class="status online"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg2.png" alt="img"><b>James Throwing</b>Las Vegas</a><span class="status busy"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg3.png" alt="img"><b>Fred Stonefield</b>New York</a><span class="status away"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg4.png" alt="img"><b>Chris M. Johnson</b>California</a><span class="status online"></span></li>
      </ul>

      <div class="gn-title">OFFLINE MEMBERS (8)</div>
     <ul class="group">
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg5.png" alt="img"><b>Allice Mingham</b>Los Angeles</a><span class="status offline"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg6.png" alt="img"><b>James Throwing</b>Las Vegas</a><span class="status offline"></span></li>
      </ul>

      <form class="search">
        <input type="text" class="form-control" placeholder="Search a Friend...">
      </form>
    </div>
    <!-- End Chat -->

  </div>

</div>
<!-- END SIDEPANEL -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="__PUBLIC__/Home/js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/plugins.js"></script>


</body>
</html>