<!DOCTYPE html>
<html lang="en">
  <include file="Common:header"/>
<include file="Common:left"/>


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="calendar-layout clearfix">

  <div class="col-md-2">
    <div id='external-events'>
      <h4 class="font-title color10"><i class="fa fa-arrows"></i>食品供应链工作计划</h4>
      <p><i class="fa fa-plus-circle color5 f-size-21 float-r"></i>新建任务拖到日历文档中</p>
      <div class='fc-event' canedi="true">注册接口</div>
      <div class='fc-event' canedi="true">修改收货地址接口</div>
      <div class='fc-eventbe' canedi="true">新建任务</div>
    </div>
  </div>

  <div class="col-md-10">
    <div id='calendar'></div>
  </div>

    




</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- Start Footer -->
 <include file="Common:footer"/>
<!-- End Footer -->
<div class="dis-n addpro">
	<div class="title text-center f-size-20 ih50">日志提交</div>
		<div class="col-sm-12 margin-b-10">
			<input class="form-control logtitle" type="text" placeholder="请输入任务标题" />
		</div>
		<div class="col-sm-12">
			<textarea class="form-control" type="text" placeholder="请输入备注信息" style="height: 150px;"></textarea>
		</div>
</div>

</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEPANEL -->
<div role="tabpanel" class="sidepanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">TODAY</a></li>
    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">TASKS</a></li>
    <li role="presentation"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">CHAT</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Start Today -->
    <div role="tabpanel" class="tab-pane active" id="today">

      <div class="sidepanel-m-title">
        Today
        <span class="left-icon"><a href="#"><i class="fa fa-refresh"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-file-o"></i></a></span>
      </div>

      <div class="gn-title">NEW</div>

      <ul class="list-w-title">
        <li>
          <a href="#">
            <span class="label label-danger">ORDER</span>
            <span class="date">9 hours ago</span>
            <h4>New Jacket 2.0</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-success">COMMENT</span>
            <span class="date">14 hours ago</span>
            <h4>Bill Jackson</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-info">MEETING</span>
            <span class="date">at 2:30 PM</span>
            <h4>Developer Team</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-warning">EVENT</span>
            <span class="date">3 days left</span>
            <h4>Birthday Party</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
      </ul>

    </div>
    <!-- End Today -->

    <!-- Start Tasks -->
    <div role="tabpanel" class="tab-pane" id="tasks">

      <div class="sidepanel-m-title">
        To-do List
        <span class="left-icon"><a href="#"><i class="fa fa-pencil"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-trash"></i></a></span>
      </div>

      <div class="gn-title">TODAY</div>

      <ul class="todo-list">
        <li class="checkbox checkbox-primary">
          <input id="checkboxside1" type="checkbox"><label for="checkboxside1">Add new products</label>
        </li>
        
        <li class="checkbox checkbox-primary">
          <input id="checkboxside2" type="checkbox"><label for="checkboxside2"><b>May 12, 6:30 pm</b> Meeting with Team</label>
        </li>
        
        <li class="checkbox checkbox-warning">
          <input id="checkboxside3" type="checkbox"><label for="checkboxside3">Design Facebook page</label>
        </li>
        
        <li class="checkbox checkbox-info">
          <input id="checkboxside4" type="checkbox"><label for="checkboxside4">Send Invoice to customers</label>
        </li>
        
        <li class="checkbox checkbox-danger">
          <input id="checkboxside5" type="checkbox"><label for="checkboxside5">Meeting with developer team</label>
        </li>
      </ul>

      <div class="gn-title">TOMORROW</div>
      <ul class="todo-list">
        <li class="checkbox checkbox-warning">
          <input id="checkboxside6" type="checkbox"><label for="checkboxside6">Redesign our company blog</label>
        </li>
        
        <li class="checkbox checkbox-success">
          <input id="checkboxside7" type="checkbox"><label for="checkboxside7">Finish client work</label>
        </li>
        
        <li class="checkbox checkbox-info">
          <input id="checkboxside8" type="checkbox"><label for="checkboxside8">Call Johnny from Developer Team</label>
        </li>

      </ul>
    </div>    
    <!-- End Tasks -->

    <!-- Start Chat -->
    <div role="tabpanel" class="tab-pane" id="chat">

      <div class="sidepanel-m-title">
        Friend List
        <span class="left-icon"><a href="#"><i class="fa fa-pencil"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-trash"></i></a></span>
      </div>

      <div class="gn-title">ONLINE MEMBERS (3)</div>
      <ul class="group">
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg.png" alt="img"><b>Allice Mingham</b>Los Angeles</a><span class="status online"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg2.png" alt="img"><b>James Throwing</b>Las Vegas</a><span class="status busy"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg3.png" alt="img"><b>Fred Stonefield</b>New York</a><span class="status away"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg4.png" alt="img"><b>Chris M. Johnson</b>California</a><span class="status online"></span></li>
      </ul>

      <div class="gn-title">OFFLINE MEMBERS (8)</div>
     <ul class="group">
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg5.png" alt="img"><b>Allice Mingham</b>Los Angeles</a><span class="status offline"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/img/profileimg6.png" alt="img"><b>James Throwing</b>Las Vegas</a><span class="status offline"></span></li>
      </ul>

      <form class="search">
        <input type="text" class="form-control" placeholder="Search a Friend...">
      </form>
    </div>
    <!-- End Chat -->

  </div>

</div>
<!-- END SIDEPANEL -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 



<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="__PUBLIC__/Home/js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/plugins.js"></script>

<!-- ================================================
jQuery UI
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-ui/jquery-ui.min.js"></script>

<!-- ================================================
Moment.js
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/moment/moment.min.js"></script>

<!-- ================================================
Full Calendar
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/full-calendar/fullcalendar.js"></script>
<!-- ================================================
Sweet Alert
================================================ -->
<script src="__PUBLIC__/Home/js/sweet-alert/sweet-alert.min.js"></script>
<script src="__PUBLIC__/Home/js/layer/layer.js"></script>
<script>
 var beforeText="新建任务";
  $(document).ready(function() {
    

    /* initialize the external events
    -----------------------------------------------------------------*/
    $('#external-events .fc-event').each(function() {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true // maintain when user navigates (see docs on the renderEvent method)
      });

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });

    /* initialize the calendar
    -----------------------------------------------------------------*/
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      buttonText:{today:'今天',month:'月视图',week:'周视图',day:'天视图'},
      monthNames:['1月', '2月', '3月', '4月', '5月', '6月', '7月','8月', '9月', '10月', '11月', '12月'],
 	  	dayNames:['星期日', '星期一', '星期二', '星期三','星期四', '星期五', '星期六'],
 			dayNamesShort:['日', '一', '二', '三','四', '五', '六'],
      defaultDate: '2016-07-30',
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar
      eventLimit: true,// allow "more" link when too many events
      events: [
        {
          title: '完成轮播图设计',
          start: '2016-07-01',
          color: '#9A80B9'
        },
        {
          title: '完成导航条设计',
          start: '2016-07-07',
          end: '2016-07-10',
          color: '#EF4836'
        },
        {
          id: 999,
          title: '完成商品列表设计',
          start: '2016-07-09'
        },
        {
          id: 999,
          title: '完后登录注册页面设计',
          start: '2016-07-16'
        },
        {
          title: '完成完全中心设计',
          start: '2016-07-3',
          end: '2016-07-5',
          color: '#E99844'
        },
        {
          title: '完成银行卡绑定页面',
          start: '2016-07-12',
          end: '2016-07-12'
        },
        {
          title: '飞行',
          start: '2016-07-12'
        },
        {
          title: '设计',
          start: '2016-07-12'
        },
        {
          title: '讨论',
          start: '2016-07-12'
        },
        {
          title: '开会',
          start: '2016-07-12'
        },
        {
          title: '完成弹出层设计',
          start: '2016-07-13',
          color: '#26A65B',
        },
        {
          title: '完成商品管理页面设计',
          start: '2016-07-22',
          color:'#D2527F',
        }
      ],
      eventClick: editorEvent,
    	dayClick: function(date, jsEvent, view, resourceObj) {
        console.log('Date: ' + date.format());
    	},
    	eventDragStart:function (event, jsEvent, ui, view){
    		console.log("开始"+event.start.format());
    	},
    	eventDragStop:function (event, jsEvent, ui, view){
    		console.log("结束"+event.start.format());
    	},
    	eventDrop:function(event, delta, revertFunc){
    		console.log(event.title + " was dropped on " + event.start.format());
    	}
    });
});
	function onblur() {
		$(this).attr("contenteditable","false");
		if($(this).text() == "" || $(this).text() == "新建任务"){
			if(beforeText != "新建任务"){
				$(this).removeClass("fc-eventbe").addClass("fc-event");
			}
			$(this).text(beforeText);
			return false;
		}
		$(this).data('event', {
			id:9,
	    title: $.trim($(this).text()), // use the element's text as the event title
	    stick: true // maintain when user navigates (see docs on the renderEvent method)
	  });
	  $('#calendar').fullCalendar('removeEvents',9);
	  $(this).removeClass("fc-eventbe").addClass("fc-event");
		if($(".fc-eventbe").size() ==0){
			// make the event draggable using jQuery UI
			$(this).draggable({
			    zIndex: 999,
			    revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			$(this).after('<div class="fc-eventbe" canedi="true">新建任务</div>');
			$("[canedi='true']").last().on('dblclick',function () {
				$(this).attr({"contenteditable":"true"}).trigger("focus");
				$(this).on('focusout',onblur);
			});
		}
	}
	$(function () {
		$("[canedi='true']").on('dblclick',function () {
			console.log($(this).data('event'));
			beforeText=$(this).text();
			$(this).attr({"contenteditable":"true"}).removeClass("fc-event").addClass("fc-eventbe").trigger("focus");
			$(this).on('blur',onblur);
		});
		$(".fa-plus-circle").on('click',function(){
			beforeText="新建任务";
			$(".fc-eventbe").attr({"contenteditable":"true"}).text("").trigger("focus");
			$(".fc-eventbe").on('blur',onblur);
		});
	});
	function editorEvent(event, element) {
			//$('#calendar').fullCalendar('updateEvent', event);
			//alert(event.id+"已完成");
			//var textval=prompt("请输入备注信息：");
				console.log("开始时间"+event.start+"结束时间"+event.end);
				var eventid=event.id;
				if(event.flag){
					swal("已完成!", "该任务已完成，请勿重复操作！", "error");
				}else{
					layer.open({
		        title: false,
		        content: $(".addpro"),
		        type:1,
		        area:['400px','300px'],
		        btn: ['已完成', '未完成','删除','修改'],
		        yes: function(index, layero){
					    layer.closeAll();
					    swal("已完成!", "恭喜您今天任务顺利完成！", "success");
					    event.color="#f00";
					    event.flag=true;
					    $('#calendar').fullCalendar('updateEvent', event);
					  },btn2: function(index, layero){
					    console.log("未完成");
					  },btn3:function(index,layero){
					  	$('#calendar').fullCalendar('removeEvents', eventid);
					  	swal("已删除!", "该任务删除成功！", "success");
					  },btn4:function(index,layero){
					  	event.title = $(".logtitle").val();
					  	$('#calendar').fullCalendar('updateEvent', event);
					  	swal("已修改!", "该任务修改成功！", "success");
					  	$(".logtitle").val("");
					  }
		      });
				}
    	}
</script>



</body>
</html>
