<!DOCTYPE html>
<html lang="en">
<include file="Common:header"/>
<include file="Common:left"/>

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
 <div class="box-cen">
 	<img src="__PUBLIC__/Home/img/logo1.png" class="disb macen"/>
 </div>
<div class="container-default">
	<div class="margin-t-20">
		<div class="btn btn-danger float-r addpro-btn">新建日志</div>
		<p class="f-size-18 color7 ih34">人在一起叫聚会，心在一起叫团队</p>
	</div>
	<div class="edilog">
		<div class="row">
			<div class="col-xs-1 pictitle">
				<img title="topqiang" src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<i>topqiang</i><i class="color8">[心生活]</i>
				<span>
					<input type="text" placeholder="预估项目个数"/>
					<input  type="text" placeholder="今日完成个数"/>
				</span>
			</div>
		</div>
		<div class="margin-t-10">
			<textarea class="padding-10 form-control" style="height: 150px;width: 100%;" placeholder="工作内容"></textarea>
		</div>
	</div>
	<div class="searchdiv padding-10">
		<input type="text"  placeholder="开始时间：" onclick="laydate({istime: false, format: 'YYYY-MM-DD',isclear:false,issure:false,istoday:false})"/>
		<input type="text"  placeholder="结束时间：" onclick="laydate({istime: false, format: 'YYYY-MM-DD',isclear:false,issure:false,istoday:false})"/>
		<button class="search-btn btn btn-primary">搜索</button>
		<button class="search-btn btn btn-primary float-r">发布日志</button>
	</div>
	<div class="margin-b-20">
		<div class="color2 text-center ih50 color3-bg f-size-16">2016-07-27</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img title="topqiang" src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="100"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="32"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="68"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="92"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="margin-b-20">
		<div class="color2 text-center ih50 color3-bg f-size-16">2016-07-27</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="3"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="32"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="68"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
		<div class="margin-t-15 row">
			<div class="col-md-1 col-sm-2 col-xs-3 pictitle">
				<img src="__PUBLIC__/Home/img/profileimg4.png" class="rac" style="border: 4px solid #F0AD4E;"/>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-9">
				<div class="precent text-center" precen="92"></div>
				<div class="color4 padding-l-10 padding-r-10" style="background: #F0AD4E;">
					<div class="f-size-14 ih34 color3">时间：<span class="margin-r-15">2015-12-10 11:11:11</span>项目：<span>飞得远</span></div>
					<div class="padding-b-10">
						1.修改api管理页面<br>
						2.进行项目录入页面整体布局<br>
						3.解决进度条自适应窗口以及动画效果。<br>
						4.构思表单录入流程及交互效果。<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Start Footer -->
 <include file="Common:footer"/>
<!-- End Footer -->


</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

<div class="dis-n addpro">
	<div class="title text-center f-size-20 ih50">创建项目</div>
	<div class="padding-20 xq_form">
		
	</div>
	<div class="box-cen padding-20">
		<div class="btn btn-lg btn-default prevpu dis-n">上一步</div>
		<div class="btn btn-lg btn-default">保存</div>
		<div class="btn btn-lg btn-default nextpu">下一步</div>
	</div>
</div>
<div class="xq_form1 dis-n">
	<div class="ovhid">
		<label class="col-sm-3">项目名称</label>
		<div class="col-sm-9">
			<input class="form-control" type="text" placeholder="请输入项目名称">
		</div>
	</div>
	<div class="ovhid">
		<label class="col-sm-3">项目logo</label>
		<div class="col-sm-9">
			<div class="xq_upimg">
				<img src="__PUBLIC__/Home/img/zc_upd.png"/>
				<input type="file">
			</div>
		</div>
	</div>
	<div class="ovhid">
		<label class="col-sm-3">所属客户</label>
		<div class="col-sm-9">
			<select class="form-control" type="text">
				<option>请选择所属客户</option>
				<option>张三</option>
				<option>李四</option>
				<option>王五</option>
			</select>
		</div>
	</div>
</div>
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="__PUBLIC__/Home/js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/plugins.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/self.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/laydate/laydate.js"></script>
<!-- ================================================
Sweet Alert
================================================ -->
<script src="__PUBLIC__/Home/js/sweet-alert/sweet-alert.min.js"></script>

<!-- ================================================
Kode Alert
================================================ -->
<script src="__PUBLIC__/Home/js/kode-alert/main.js"></script>
<script type="text/javascript">
var index=0;
	$(function  () {
		$(".addpro-btn").on('click',function () {
			layer.open({
				type:1,
				title:false,
				area:['600px','auto'],
				content:$(".addpro")
			})
		});
		$(".precent").each(function () {
			var precen=$(this).attr("precen")+'%';
			$(this).css('width',precen).text(precen);
		});
	});
</script>
<script type="text/javascript">
//	document.querySelectorAll('.fa-trash').onclick = 
	$(".fa-trash").on('click',function(){
		var self=$(this);
	      swal({
	        title: "请确认?",
	        text: "您删除项目，将无法挽回!",
	        type: "warning",
	        showCancelButton: true,
	        confirmButtonColor: "#DD6B55",
	        confirmButtonText: "确认",
	        cancelButtonText: "取消",
	        closeOnConfirm: false
	      },
	      function(){
	      	self.parents(".probag").remove();
	          swal("已删除!", "恭喜您删除成功.", "success");
	      });
    });
</script>
</body>
</html>