<!DOCTYPE html>
<html lang="en">
 <include file="Common:header"/>
<include file="Common:left"/>

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">Panels</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="#">UI Elements</a></li>
        <li class="active">Panels</li>
      </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">Dashboard</a>
        <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->

  <!-- Start Presentation -->
  <div class="row presentation">

    <div class="col-lg-8 col-md-6 titles">
      <span class="icon color7-bg"><i class="fa fa-list-alt"></i></span>
      <h1>Panels</h1>
      <h4>Panels with coming their tools and styles.<br> Open, Hide, Close, Search or Expand your panel content.</h4>
    </div>

    <div class="col-lg-4 col-md-6">
      <ul class="list-unstyled list">
        <li><i class="fa fa-check"></i>Simple Design<li>
        <li><i class="fa fa-check"></i>Panel Tools<li>
        <li><i class="fa fa-check"></i>Color Options<li>
        <li><i class="fa fa-check"></i>Easy to Customize<li>
      </ul>
    </div>

  </div>
  <!-- End Presentation -->


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-padding">


  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          Basic
        </div>
        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          Panel with footer
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

        <div class="panel-footer">Panel footer</div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-transparent">

        <div class="panel-title">
          Transparent Panel
          <ul class="panel-tools">
            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

      </div>
    </div>
    <!-- End Panel -->


  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          With Tools
          <ul class="panel-tools">
            <li><a class="icon search-tool"><i class="fa fa-search"></i></a></li>
            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-search">
          <form>
            <input type="text" class="form-control" placeholder="Search on this panel...">
            <i class="fa fa-search icon"></i>
          </form>
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          With Dropdown
          <ul class="panel-tools">
            <li>
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Print</a></li>
                  <li><a href="#">Reload</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
            </li>
          </ul>
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          Mouse Hover
          <ul class="panel-tools panel-tools-hover">
            <li><a class="icon search-tool"><i class="fa fa-search"></i></a></li>
            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-search">
          <form>
            <input type="text" class="form-control" placeholder="Search on this panel...">
            <i class="fa fa-search icon"></i>
          </form>
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

      </div>
    </div>
    <!-- End Panel -->



  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          <i class="fa fa-picture-o titleicon"></i>Title Icon
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          With list groups
        </div>

        <div class="panel-body">
          <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <ul class="list-group">
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-closed">

        <div class="panel-title">
          Initially closed
          <ul class="panel-tools">
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-body">
          Panel content
        </div>

      </div>
    </div>
    <!-- End Panel -->


  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          Title with Text
          <ul class="panel-tools">
            <li>Title simple text</li>
          </ul>
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-default">

        <div class="panel-title">
          Title with Link
          <ul class="panel-tools">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
          </ul>
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-widget">

        <div class="panel-title">
          Panel Widget
        </div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize...
        </div>

      </div>
    </div>
    <!-- End Panel -->


  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">

   <div class="col-md-12 padding-b-20">
    <h4 class="font-title">Panel with Colors</h4>
    <p>You can color panels like <code>.panel-primary</code> or <code>.panel-danger</code></p>
  </div>

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-primary">

        <div class="panel-title">
          Primary <span class="badge">.panel-primary</span>
          <ul class="panel-tools">
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

        <div class="panel-footer">This is Panel Footer</div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-success">

        <div class="panel-title">
          Success <span class="badge">.panel-success</span>
          <ul class="panel-tools">
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

        <div class="panel-footer">This is Panel Footer</div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-info">

        <div class="panel-title">
          Info <span class="badge">.panel-info</span>
          <ul class="panel-tools">
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

        <div class="panel-footer">This is Panel Footer</div>

      </div>
    </div>
    <!-- End Panel -->

  </div>
  <!-- End Row -->



  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-warning">

        <div class="panel-title">
          Warning <span class="badge">.panel-warning</span>
          <ul class="panel-tools">
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

        <div class="panel-footer">This is Panel Footer</div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-danger">

        <div class="panel-title">
          Danger <span class="badge">.panel-danger</span>
          <ul class="panel-tools">
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

        <div class="panel-footer">This is Panel Footer</div>

      </div>
    </div>
    <!-- End Panel -->

    <!-- Start Panel -->
    <div class="col-md-6 col-lg-4">
      <div class="panel panel-dark">

        <div class="panel-title">
          Dark <span class="badge">.panel-dark</span>
          <ul class="panel-tools">
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>

        <div class="panel-heading">This is Panel Heading</div>

        <div class="panel-body">
          We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
        </div>

        <div class="panel-footer">This is Panel Footer</div>

      </div>
    </div>
    <!-- End Panel -->

  </div>
  <!-- End Row -->





</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- Start Footer -->
 <include file="Common:footer"/>
<!-- End Footer -->


</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEPANEL -->
<div role="tabpanel" class="sidepanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">TODAY</a></li>
    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">TASKS</a></li>
    <li role="presentation"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">CHAT</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Start Today -->
    <div role="tabpanel" class="tab-pane active" id="today">

      <div class="sidepanel-m-title">
        Today
        <span class="left-icon"><a href="#"><i class="fa fa-refresh"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-file-o"></i></a></span>
      </div>

      <div class="gn-title">NEW</div>

      <ul class="list-w-title">
        <li>
          <a href="#">
            <span class="label label-danger">ORDER</span>
            <span class="date">9 hours ago</span>
            <h4>New Jacket 2.0</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-success">COMMENT</span>
            <span class="date">14 hours ago</span>
            <h4>Bill Jackson</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-info">MEETING</span>
            <span class="date">at 2:30 PM</span>
            <h4>Developer Team</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label label-warning">EVENT</span>
            <span class="date">3 days left</span>
            <h4>Birthday Party</h4>
            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
          </a>
        </li>
      </ul>

    </div>
    <!-- End Today -->

    <!-- Start Tasks -->
    <div role="tabpanel" class="tab-pane" id="tasks">

      <div class="sidepanel-m-title">
        To-do List
        <span class="left-icon"><a href="#"><i class="fa fa-pencil"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-trash"></i></a></span>
      </div>

      <div class="gn-title">TODAY</div>

      <ul class="todo-list">
        <li class="checkbox checkbox-primary">
          <input id="checkboxside1" type="checkbox"><label for="checkboxside1">Add new products</label>
        </li>
        
        <li class="checkbox checkbox-primary">
          <input id="checkboxside2" type="checkbox"><label for="checkboxside2"><b>May 12, 6:30 pm</b> Meeting with Team</label>
        </li>
        
        <li class="checkbox checkbox-warning">
          <input id="checkboxside3" type="checkbox"><label for="checkboxside3">Design Facebook page</label>
        </li>
        
        <li class="checkbox checkbox-info">
          <input id="checkboxside4" type="checkbox"><label for="checkboxside4">Send Invoice to customers</label>
        </li>
        
        <li class="checkbox checkbox-danger">
          <input id="checkboxside5" type="checkbox"><label for="checkboxside5">Meeting with developer team</label>
        </li>
      </ul>

      <div class="gn-title">TOMORROW</div>
      <ul class="todo-list">
        <li class="checkbox checkbox-warning">
          <input id="checkboxside6" type="checkbox"><label for="checkboxside6">Redesign our company blog</label>
        </li>
        
        <li class="checkbox checkbox-success">
          <input id="checkboxside7" type="checkbox"><label for="checkboxside7">Finish client work</label>
        </li>
        
        <li class="checkbox checkbox-info">
          <input id="checkboxside8" type="checkbox"><label for="checkboxside8">Call Johnny from Developer Team</label>
        </li>

      </ul>
    </div>    
    <!-- End Tasks -->

    <!-- Start Chat -->
    <div role="tabpanel" class="tab-pane" id="chat">

      <div class="sidepanel-m-title">
        Friend List
        <span class="left-icon"><a href="#"><i class="fa fa-pencil"></i></a></span>
        <span class="right-icon"><a href="#"><i class="fa fa-trash"></i></a></span>
      </div>

      <div class="gn-title">ONLINE MEMBERS (3)</div>
      <ul class="group">
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/__PUBLIC__/Home/img/profileimg.png" alt="img"><b>Allice Mingham</b>Los Angeles</a><span class="status online"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/__PUBLIC__/Home/img/profileimg2.png" alt="img"><b>James Throwing</b>Las Vegas</a><span class="status busy"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/__PUBLIC__/Home/img/profileimg3.png" alt="img"><b>Fred Stonefield</b>New York</a><span class="status away"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/__PUBLIC__/Home/img/profileimg4.png" alt="img"><b>Chris M. Johnson</b>California</a><span class="status online"></span></li>
      </ul>

      <div class="gn-title">OFFLINE MEMBERS (8)</div>
     <ul class="group">
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/__PUBLIC__/Home/img/profileimg5.png" alt="img"><b>Allice Mingham</b>Los Angeles</a><span class="status offline"></span></li>
        <li class="member"><a href="#"><img src="__PUBLIC__/Home/__PUBLIC__/Home/img/profileimg6.png" alt="img"><b>James Throwing</b>Las Vegas</a><span class="status offline"></span></li>
      </ul>

      <form class="search">
        <input type="text" class="form-control" placeholder="Search a Friend...">
      </form>
    </div>
    <!-- End Chat -->

  </div>

</div>
<!-- END SIDEPANEL -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 



<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="__PUBLIC__/Home/js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/plugins.js"></script>

</body>
</html>