<!DOCTYPE html>
<html lang="en">
<include file="Common:header"/>
<include file="Common:left"/>

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content" style="">
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
 <div class="box-cen padding-b-20">
 	<img src="__PUBLIC__/Home/img/logo1.png" class="disb macen"/>
 </div>
<div class="container-default ovhid" style="min-height: 400px;">
	<div class="ovhid bgfff padding-20 fl" style="max-width: 20%;margin-bottom: 20px;border: 1px solid #e5e5e5;border-radius: 4px;">
		<include file="Public:left"/>
	</div>
	<div class="ovhid bgfff padding-20 fr" style="width: 80%;margin-bottom: 20px;margin-right:20px;border: 1px solid #e5e5e5;border-radius: 4px;">
		<table class="table table-hover color4-bg">
			<thead>
				<tr>
					<th>项目名称</th>
					<th>待处理</th>
					<th>待测试</th>
					<th>未完成</th>
					<th>已完成</th>
					<th>总问题</th>
				</tr>
			</thead>
			<tr>
				<td class="color1">食品供应链</td>
				<td class="color10">0</td>
				<td class="color9">0</td>
				<td class="color10">0</td>
				<td class="color5">0</td>
				<td class="color7">0</td>
			</tr>
			<tr>
				<td class="color1">同城易购</td>
				<td class="color10">0</td>
				<td class="color9">0</td>
				<td class="color10">0</td>
				<td class="color5">0</td>
				<td class="color7">0</td>
			</tr>
			<tr>
				<td class="color1">帝兼职</td>
				<td class="color10">0</td>
				<td class="color9">0</td>
				<td class="color10">0</td>
				<td class="color5">0</td>
				<td class="color7">0</td>
			</tr>
		</table>
	</div>
</div>

<!-- Start Footer -->
 <include file="Common:footer"/>
<!-- End Footer -->


</div>

<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="__PUBLIC__/Home/js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="__PUBLIC__/Home/js/plugins.js"></script>

<script type="text/javascript" src="__PUBLIC__/Home/js/self.js"></script>
<script type="text/javascript">

</script>
</body>
</html>