<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="">系统设置</a></li>
        <li class="active">友情链接</li>
        <li class="active">友情链接列表</li>
    </ul>

    <div class="page-header clearfix">
        <h3>友情链接</h3>
        <ul class="nav nav-tabs">    
            <li class="active">
                <a href="{:U('FriendlyLink/friendlyLinkList')}">友情链接列表</a>
            </li>
            <li>
                <a href="{:U('FriendlyLink/addFriendlyLink')}">添加友情链接</a>
            </li>
        </ul>
    </div>

    <!--引入修改提示-->
    <include file="Public:notification"/>
        
    <div class="content-box-content">

        <form action="{:U('FriendlyLink/deleteFriendlyLink')}" method="post" class="batch-form">
            <table class="table table-striped table-framed table-hover">
                <thead>
                <tr>
                    <th width="4%">
                        <input class="check-all" type="checkbox" />
                    </th>
                    <th width="10%">添加时间</th>
                    <th>编号</th>
                    <th>链接名称</th>
                    <th>链接地址</th>
                    <th>排序</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>

                <tbody class="tbody">
                <if condition="empty($link_list)">
                    <tr><td colspan="10"><span style="font-size:14px;">暂无数据</span></td></tr>
                </if>
                <volist name="link_list" id="link">
                    <tr>
                        <td><input type="checkbox" name="friendly_id[]" value="{$link['friendly_id']}"/></td>
                        <td>{$link['ctime']|date='Y-m-d',###}</td>
                        <td>{$link['friendly_id']}</td>
                        <td>
                            <a href="{$link['friendly_url']}" class="underline pop" target="_blank">
                                {$link['friendly_name']}<if condition="!empty($link['friendly_logo'])">【LOGO】</if>
                            </a>
                            <if condition="!empty($link['friendly_logo'])">
                            <div class='img-position' style="display:none;">
                                <img src="__WEBPUBLIC__/Admin/images/icons/point.png" class='point'/>
                                <img src="__WEBROOT__/Uploads/FriendlyLogo/{$link['friendly_logo']}">
                            </div>
                            </if>
                        </td>
                        <td>{$link['friendly_url']}</td>
                        <td>
                            <input type="text" value="{$link['sort_order']}" class="sort_order only-num" title="点击填写，再点击其他地方自动修改">
                            <input type="hidden" value="{$link['friendly_id']}">
                        </td>
                        <td>
                            <a href="{:U('FriendlyLink/editFriendlyLink',array('friendly_id'=>$link['friendly_id']))}" title="编辑" class="modify">
                                <span class="icon glyphicon glyphicon-pencil"></span>
                            </a>&nbsp;
                            <a href="#" title="删除" class="delete-delete">
                                <span class="icon glyphicon glyphicon-remove"></span>
                            </a><input type="hidden" value="{:U('FriendlyLink/deleteFriendlyLink',array('friendly_id'=>$link['friendly_id']))}">
                        </td>
                    </tr>
                </volist>
                </tbody>

                <tfoot>
                    <tr>
                    <td colspan="20">
                        <div class="bulk-actions fl">
                            <input type="button" class="btn delete-batch" value="批量删除">　

                        </div>
                        <div class="fr">
                            {$page}
                        </div>
                    </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.sort_order').blur(function(){
            var id = $(this).next('input').val();
            var sort = $(this).val();
            ajaxEditSort('{:U("FriendlyLink/editSort")}',id,sort);
        });
    });
</script>
<include file="Public:footer"/>
